In [27]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('dec1_input.csv')

In [23]:
df.head()

   depths  depths_prior
0     173             0
1     179           173
2     200           179
3     210           200
4     226           210

In [38]:
df

      depths  depths_prior  depth_change    change
0        173             0           173  increase
1        179           173             6  increase
2        200           179            21  increase
3        210           200            10  increase
4        226           210            16  increase
...      ...           ...           ...       ...
1995    9348          9324            24  increase
1996    9351          9348             3  increase
1997    9356          9351             5  increase
1998    9372          9356            16  increase
1999    9380          9372             8  increase

[2000 rows x 4 columns]

In [19]:
df['depths_prior'] = df['depths'].shift(periods=1, fill_value=0)

In [24]:
df['depth_change'] = df['depths'] - df['depths_prior']

In [31]:
depth_changes = [
    df.depth_change > 0,
    df.depth_change < 0,
    df.depth_change == 0
]

values = ["increase", "decrease", "no change"]

In [32]:
df["change"] = np.select(depth_changes, values)

In [35]:
len(df[df.change=='increase']) - 1 # because first isn't actual increase

1681

## Part 2

In [57]:
df_rolling = df['depths'].rolling(3).sum().to_frame()
df_rolling

       depths
0         NaN
1         NaN
2       552.0
3       589.0
4       636.0
...       ...
1995  27992.0
1996  28023.0
1997  28055.0
1998  28079.0
1999  28108.0

[2000 rows x 1 columns]

In [58]:
df_rolling = df_rolling[~df_rolling.depths.isna()].reset_index(drop=True)

In [60]:
df_rolling['depths_prior'] = df_rolling['depths'].shift(periods=1, fill_value=0)

In [61]:
df_rolling['depth_change'] = df_rolling['depths'] - df_rolling['depths_prior']

In [64]:
depth_changes = [
    df_rolling.depth_change > 0,
    df_rolling.depth_change < 0,
    df_rolling.depth_change == 0
]

values = ["increase", "decrease", "no change"]

In [65]:
df_rolling["change"] = np.select(depth_changes, values)

In [68]:
len(df_rolling[df_rolling.change == 'increase']) - 1

1704